.board {
    display: table;
    border-collapse: collapse;
}

.board-row {
    display: table-row;
}

.board-item {
    display: table-cell;
    width: 50px;
    height: 50px;
    border: solid 2px black;
    position: relative;
}

.board-item-black {
    background-color: lightslategrey;
}

.board-item-white {
    background-color: antiquewhite;
}