.board {
    display: table;
    border-collapse: collapse;
    width: 80vw;
    height: 80vw;
    max-height: 500px;
    max-width: 500px;
    box-shadow: lightslategrey 0 0 50px;
}

.board-row {
    display: table-row;
}

.board-item {
    display: table-cell;
    /*width: 50px;*/
    /*height: 50px;*/
    border: solid 2px black;
    position: relative;
}

.board-item-black {
    background-color: lightslategrey;
}

.board-item-white {
    background-color: antiquewhite;
}

.board-actual {
    background-color: red;
}

.board-available {
    background-color: green;
}

.board-necessary {
    background-color: dodgerblue;
}

.board-killable {
    background-color: orange;
}