html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* =====================app=======================* */

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* =====================board=======================* */

.board {
  margin: 50px auto;
  transition: transform 1s;
  display: table;
  border-collapse: collapse;
  width: 80vw;
  height: 80vw;
  max-height: 500px;
  max-width: 500px;
  box-shadow: lightslategrey 0 0 50px;
}

.board-row {
  display: table-row;
}

.board-rotated {
  transform: rotate(180deg);
}

.board-white-light {
  box-shadow: 0px 15px 20px -5px rgb(202, 206, 167);
}

.board-black-light {
  box-shadow: 0px -15px 20px -5px rgb(66, 66, 66);
}

/* =====================field=======================* */

.field {
  display: table-cell;
  border: solid 2px black;
  position: relative;

  /* text */
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 4px 4px 28px rgba(66, 68, 90, 1);
}

.field-black {
  background-color: lightslategrey;
}

.field-white {
  background-color: antiquewhite;
}

/* =====================view=======================* */

.view-actual {
  background-color: #5794d9;
}

.view-available {
  background-color: #72b372;
  cursor: pointer;
}

.view-necessary {
  background-color: #990606;
  cursor: pointer;
}

.view-necessary-next {
  background-color: #d91e1e;
}

.view-killable {
  background-color: #ff5454;
}

/* =====================figure=======================* */

.figure {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;

  /* centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.figure-white {
  background-color: #ffffff;
  border: double 5px #ced417;
}

.figure-white-king {
  background-color: #ffffff;
  border: double 12px #ced417;
}

.figure-black {
  background-color: #585656;
  border: double 5px #000000;
}

.figure-black-king {
  background-color: #4e4a4a;
  border: double 12px #000000;
}

/* =====================menu=======================* */

.menu {
  width: 70vw;
  max-width: 400px;
  background-color: #2c313b;
  border-radius: 5px;
  box-shadow: 0 0 30px black;
  color: white;
  display: block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.menu-item {
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
}

.menu-item:hover {
  background-color: #424c64;
}

.menu-message {
  padding: 20px;
  font-size: 1.5em;
}

.footer {
  max-width: 28rem;
  margin: auto;
}
