.figure {
    /*height: 30px;*/
    /*width: 30px;*/
    width: 60%;
    height: 60%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;

    /* centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.figure-white {
    background-color: #ffffff;
    border: double 5px #ced417;
}

.figure-white_king {
    background-color: #ffffff;
    border: double 12px #ced417;
}

.figure-black {
    background-color: #585656;
    border: double 5px #000000;
}

.figure-black_king {
    background-color: #4e4a4a;
    border: double 12px #000000;
}



